/*
	Author: Brandon Kolle
	7/29/2018
 */

.calculator
{
	-fx-background-color: #353535;
}

.numberButton
{
	-fx-background-color: #707172;
	-fx-text-fill: white;
	-fx-background-radius: 0; -fx-font-size: 22px;
}

.numberButton:hover
{
	-fx-background-color: #454647;
}

.numberButton:pressed
{
	-fx-background-color: #404142;
}

.miscOperatorButton
{
	-fx-background-color: #555759;
	-fx-text-fill: white;
	-fx-background-radius: 0; -fx-font-size: 22px;
}

.miscOperatorButton:hover
{
	-fx-background-color: #454647;
}

.miscOperatorButton:pressed
{
	-fx-background-color: #404142;
}

.rightSideOperatorButton
{
	-fx-background-color: #f4ab35;
	-fx-background-radius: 0;
	-fx-font-size: 22px;
}

.rightSideOperatorButton:hover
{
	-fx-background-color: #ce8c21;
}

.rightSideOperatorButton:pressed
{
	-fx-background-color: #ab6a02;
}

.topDisplay
{
	-fx-font-size: 14px; 
	-fx-text-fill: white;
}

.bottomDisplay
{
	-fx-font-size: 40px; 
	-fx-text-fill: white;
}